<mat-grid-list cols="7" class="main-container" gutterSize=20 rowHeight=370>
  <mat-grid-tile [colspan]=3 [rowspan]=1>
    <app-bio class="card_component"></app-bio>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=4 [rowspan]=1>
    <app-base-attribute class="card_component"></app-base-attribute>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" class="main-container" gutterSize=20 rowHeight=200>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <app-combat-attribute class="card_component"></app-combat-attribute>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" class="main-container" gutterSize=20 rowHeight=550>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <app-skills class="card_component"></app-skills>
  </mat-grid-tile>
</mat-grid-list>